<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LoginApp.Properties.Settings.connectionConnectionString"
            connectionString="server=den1.mysql6.gear.host;user id=connection;password=@12345;persistsecurityinfo=True;database=connection"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>